<!-- Highlight Card -->
<div class="card highlight-card card-small">



   



  <div class='border-div'>
    <div class='border-div'>
        <div class='border-div'>
            <div class='border-div'>
                <div class='border-div'>
                    <div class='border-div'>
                        <div class='border-div text-content' >
                            <div [@scroll]="state" (@scroll.done)="scrollDone()">Angular Case Study</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>